---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import StrawHats from "../assets/strawhats.jpg";

const meta = {
	title: "About",
	description: "A bunch of pirates passionate about transformative power of Emerging Technologies!",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Straw Hat is an investment research firm focused on emerging technologies. It was founded by two Obulapathi N. Challa (Obul) and Sandeep Kalidindi (Deepu). Obul obtained a PhD from the University of Florida in the field of Cloud Computing and Big Data, while Sandeep holds a Masters from CSAIL MIT. Their combined expertise in Artificial Intelligence, Blockchain, Cybersecurity, Finance, and other emerging technologies forms the backbone of their company's success. Their relentless pursuit of knowledge and unwavering passion for understanding how emerging technologies shape the future sets Straw Hat apart as a leading force in the industry.
		</p>

		<p>
			Beyond their shared technological interests, Obulapathi and Sandeep have a common love for anime, particularly Naruto and One Piece. This shared passion brought them together and fueled their drive to create a company that embodies the spirit of adventure and determination depicted in these beloved series. This unique bond plays a crucial role in fostering a strong and creative work environment at Straw Hats.
		</p>

		<p>
			Obul and Deepu, embrace a well-rounded approach to life that blends intellectual pursuits and physical activities. They find solace and excitement in mountain hikes, which offer both physical challenges and moments of reflection in nature's beauty. During their free time, they indulge in books and podcasts to quench their thirst for knowledge and gain new perspectives. This balanced lifestyle not only enriches their personal lives but also permeates into the company's ethos, driving continuous innovation and a commitment to making a positive impact on the future through transformative technological solutions.
		</p>

		<div class="flex justify-center">
			<Image
				src={StrawHats}
				alt="A bunch of pirates passionate about Emerging Technologies!"
				loading="eager"
			/>
		</div>

	</div>
</PageLayout>
