---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Discover",
	description: "Social recommendations for purchasing products online with confidence!",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Discover</h1> </br> </br>

		🌐 <strong>The Unfulfilled Promise of the Internet</strong>
		<p>
            The internet vowed to bring us closer, to forge connections like never before. Yet, when pivotal choices loom—be it selecting a laptop, opting for a restaurant, or deciding on a movie—we find ourselves navigating through the impersonal terrain of reviews from anonymous entities. But, why?
		</p> </br> </br>

		👥 <strong>Be Empowered by Your Network</strong>
		<p>
			What if your decisions online could be shaped by those who know you best? What if you could leverage the power of your network to make informed choices? What if you could discover products that are truly relevant to you?
		</p> </br> </br>

		🔵 <strong>Are You Ready to Discover?</strong>
		<p>
			So, are you prepared to embark on this revolutionary journey?
			Welcome to Discover, your guide to the Internet.
			Discover products, people and places with the help of your trusted network.
			Are you ready to Discover?
		</p> </br> </br>

		<strong>Link to Google Play App: </strong> <a href="https://drive.google.com/drive/folders/1dt11kKKG6nDbhuZhsCzaoCaTtlph9dLa?usp=sharingl"> <u>Discover Android App</u></a>  </br></br>

		<strong>Link to Chrome Extension: </strong> <a href="https://chrome.google.com/webstore/detail/discover-extension/gnghjbhjmlgopdgfgbhiionofaljamdc/related"> <u>Discover Chrome Extension</u></a> </br></br>

	</div>
</PageLayout>
